.small-container{
    display: flex;
    justify-content: center;
}


.login-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: white;
}

.password-section{
    display: flex;
}

.password-section .login-password-button{
    height: 50%;
    width: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-nav{
    display: flex;
}

.redirect-nav > *{
    padding: 10px;
}

.signin{
    color: var(--color-2);
    text-decoration: underline;
}

.register{
    color: #000;
}

.forget-password-container{
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.forget-password-container .forget-btn{
    width: 100%;

    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.forget-btn:hover{
    opacity: 0.4;
    border: 3px solid black;
}

.submit-button {
    display: flex;
    justify-content: center;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

