
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    margin-top: 1rem;
}
input,
select,
textarea,
button {
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    /*font-family: Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    background-color: #f8f8f8;
    cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
    border: 0.1rem #404040 solid;
}
button.primary {
    background-color: #f0c040;
}
button.block {
    width: 100%;
}
button.small {
    font-size: 1.2rem;
}

/* Alert */
.loading {
    display: block !important;
}
.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}
.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}
.alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
}
.alert-success {
    color: #20a020;
    background-color: #eeffe0;
}
/* Form */
.form {
    max-width: 60rem;
    margin: 0 auto;
}
.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.form label {
    margin: 1rem 0;
}
/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.productName{
    word-break: break-all;
}