.rating span i{
    color: #ffc000;
}

.rating {
    font-weight: bold;
    color: var(--color-2);
}

.rating {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var(--color-2);
}