/* .checkout-steps {
    font-size: 1.2rem;
    text-align: center;
}

.checkout-steps>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    color: black;
}

.checkout-steps span {
    background-color: #a0a0a0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: black;
    font-weight: bold;
}

.checkout-steps>div.active {
    color: #3F72Af;
}

.checkout-steps>div.active span {
    background-color: #3F72Af;
    color: #f6f6f6;
} */

.checkout-steps .MuiStepConnector-root {
    top: 15px;
}

.checkout-steps .MuiStepConnector-lineHorizontal {
    border-top-width: 3px;
}

.checkout-steps .MuiSvgIcon-root {
    font-size: 2rem;
}

/* .checkout-steps .MuiTypography-root {
    font-size: 1rem;
} */

.checkout-steps .MuiStep-root {
    position: relative;
}

.checkout-steps .MuiStepLabel-labelContainer {
    position: absolute;
    top: 0;
    transform: translateY(-120%);
}

.checkout-steps .MuiTypography-body2 {
    font-size: 1rem;
    font-weight: bold !important;
}

.checkout-steps .MuiStepIcon-active {
    color: #3F72Af !important;
}

.checkout-steps .MuiStepIcon-completed {
    color: #3F72Af !important;
}

.checkout-steps .MuiStepIcon-active .MuiStepIcon-text {
    fill: #ffffff;
}

.checkout-steps .MuiStepConnector-active .MuiStepConnector-lineHorizontal {
    border-top-color: #3F72Af;
}

.checkout-steps .MuiStepConnector-completed .MuiStepConnector-lineHorizontal {
    border-top-color: #3F72Af;
}

.checkout-steps .MuiStepIcon-text {
    fill: black;
}

@media only screen and (max-width: 767px) {
    /* .checkout-steps .MuiTypography-root {
        font-size: 0.6rem;
    } */

    .checkout-steps .MuiTypography-body2 {
        font-size: 0.6rem;
    }

    .checkout-steps .MuiSvgIcon-root {
        font-size: 1.5rem;
    }

    .checkout-steps .MuiStepConnector-root {
        top: 10px;
    }
}