h1 {
    width: 100%;
    color: #112D4E;
}

.form-container {
    width: 100%;
    max-width: 500px;
}

.submit-button {
    width: 150px;
    font-size: 1.3rem !important;
    /* background-image: linear-gradient(to bottom right, blue, #112D4E); */
}

label {
    font-size: 1.2rem;
    color: #112D4E;
}

select {
    height: 40px;
}