tr .productHeader, tr .productListTD{
    text-align: center;
}

.productListTD .deleteButton, .productListTD .editButton{
    font-weight: bold;
}

.productTableRow .buttonGroup{
    width: 150px;    
}

div .createProductButton {
    width: 200px;
}

.productPagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.productPagi{
    display: flex;
    justify-content: center;
}