:root {
    --color--primary: #112D4e;
    --color--secondary: #3f72af;
    --color--tertiary: #dbe2ef;
    --color--quartenary: #f0f4f8;
}

header {
    box-shadow: 0 2px 2px 0px #888;
}

.navbar-container {
    height: 40px;
    background: var(--color--primary);
}

.hero-container {
    height: 80px;
    background: white;
}

.nav-link {
    text-decoration: none;
    color: white !important;
}

.nav-link:hover {
    color: var(--color--tertiary);
}

.dropdown:hover .dropdown-menu {
    position: absolute;
    right: 0;
    display: block;
    margin-top: 0;
}

.logo {
    color: var(--color--primary);
    font-weight: bold;
}

#cart-icon {
    margin-right: 20px;
    color: var(--color--primary);
    font-size: 2rem;
}

#cart-info {
    color: #404040;
    font-size: 0.8rem;
}