/* .product-info{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-name p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.product-name{
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.product-info-bottom-left{
    display: block;
    text-align: left;
}

.product-info-bottom{
    display: flex;
    justify-content: space-between;
}

.product-info-price{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-1)
}

.img-large {
    max-width: 100%;
} */

.product {
    margin: 0 0 8px 0;
    padding: 0;
    height: 340px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    background: white;
}

.product-img {
    height: 210px;
    object-fit: contain;
}

.product-info {
    padding: 0 6px;
    height: 130px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.product-name {
    height: 40px;
    line-height: 20px;
    color: black;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.product-quantity {
    height: 30px;
    line-height: 30px;
    color: var(--color-2);
    font-size: 0.8rem;
}

.product-price {
    height: 30px;
    line-height: 30px;
    color: var(--color-1);
    font-size: 1.1rem;
}

.product-rating {
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
}

.product-rating span {
    margin-left: 5px;
    color: var(--color-1);
}

.product-rating div {
    justify-content: space-between;
}